---
layout: layouts/home.njk
permalink: /bookmarks/
eleventyNavigation:
  key: Bookmarks
  order: 4
---

<h2>My bookmarks</h2>
<div class="custom-page">
  <p>Below are some websites, I usually read often. This is a growing list!</p>

  <h3><a href="https://www.brainpickings.org">Brain Pickings</a></h3>
  <h3><a href="https://www.davidgodman.org">David Godman</a></h3>
  <h3><a href="https://shkspr.mobi/blog">Terence Eden's Blog</a></h3>
</div>
