---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
---
<div class="custom-page">

  <h2>Projects</h2>

  <p>Below are few of my projects which I'd like to share publicly.</p>

  <div class="projects-item">
    <h3><a href="https://github.com/mysticmode/sorcia">Sorcia</a></h3>
    <p>Self-hosted Git engine. This is not ready yet and under active development.</p>
  </div>
  <div class="projects-item">
    <h3><a href="https://github.com/mysticmode/gitviahttp">gitviahttp</a></h3>
    <p>Git HTTP backend in Go. Available in both CLI and library flavors.</p>
  </div>
  <div class="projects-item">
    <h3><a href="https://github.com/mysticmode/libreread">LibreRead</a></h3>
    <p>Self-hosted Free(Libre) Ebook Reader where you can highlight & annotate content. It supports PDF & EPUB formats. This project is not under active development and we are expecting maintainers who could take this up and improve this software.</p>
  </div>

</div>
